<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand glitch-text" {% if dataText %}data-text="{{ dataText }}"{% endif %} href="index.html">{{ brand | default('Глитчи Юниверси') }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html#glitches">Глитчи</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#visualizations">Визуализации</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#about">О проекте</a></li>
            </ul>
        </div>
    </div>
</nav>
